* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}

body {
  /* https://tailwindcss.com/docs/customizing-colors#default-color-palette */
  --neutral-50: #fafafa;
  --neutral-950: #0a0a0a;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --amber-400: #fbbf24;

  font-family: Helvetica, Arial, sans-serif;

  color: var(--primary-text);
  background-color: var(--bg-color);

  margin: 0;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

body > header {
  text-align: center;
  grid-area: header;
}

body > main {
  text-align: center;
  grid-area: main;
}

body > footer {
  text-align: center;
  grid-area: footer;
}

.under-construction {
  background-color: var(--amber-400);
  border: dashed var(--neutral-950);
  padding: 1rem;
  color: var(--neutral-950);
}

/** Colours **/

/** Light **/
body {
  --primary-text: var(--neutral-950);
  --bg-color: var(--neutral-50);
  --link: var(--blue-600);
  --link-visited: var(--purple-600);
}

/** Dark **/
@media (prefers-color-scheme: dark) {
  body {
    --primary-text: var(--neutral-50);
    --bg-color: var(--neutral-950);
    --link: var(--blue-500);
    --link-visited: var(--purple-500);
  }
}
