main > article {
  margin: var(--site-margin);
  font-family: var(--serif);
  font-size: 1.2rem;
}

article > h1 {
  line-height: 2rem;
}
article > p {
  line-height: 1.5rem;
}

.publishing-dates {
  display: flex;
  color: var(--color-neutral);
}
@media (max-width: 1280px) {
  .publishing-dates {
    flex-direction: column;
  }
}

.publishing-dates small:not(:only-child) {
  margin-right: var(--site-margin);
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  margin-top: 2rem;
}

article > h1,
article > p {
  margin-bottom: 1.5rem;
}
article > p {
  margin-top: 1.5rem;
}

article > ul > li:not(:last-child),
article > ol > li:not(:last-child) {
  padding-bottom: .25rem;
}

article > pre {
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

article code {
  font-family: 'Noto Mono', monospace;
}

article > p > code {
  font-size: .95rem;
  background-color: var(--bg-secondary);
  padding: .2rem .3rem;
  border-radius: 0.2rem;
}

article.snippet {
  display: block;
}
article.snippet:not(:last-child) {
  padding-bottom: var(--site-margin);
  border-bottom: dotted thin var(--primary-text);
}
