@font-face {
  font-family: 'Noto Mono';
  font-display: swap;
  src: local('Noto Mono'), url('assets/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}

.banner {
  font-weight: 100;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid thin var(--primary-text);
  padding: 0 var(--site-margin) 0 var(--site-margin);
}
.banner .logo {
  margin: 0 0 .2rem 0; /* attempt at visually aligning it vertically */
}
header > nav {
  border-bottom: solid thin var(--primary-text);
}
header > nav > ul {
  display: flex;
  list-style: none;
  padding: 0 var(--site-margin);
  margin: 0;
}
header > nav > ul > li {
  display: inline-block;
  padding: 1rem;
}
header > nav > ul > li:first-child {
  padding-left: 0;
}
header > nav > ul > li > a {
  color: var(--primary-text);
  text-decoration-color: transparent;
  transition: text-decoration-color .1s ease-in;
}
header > nav > ul > li > a:visited {
  color: var(--primary-text);
}
header > nav > ul > li > a:hover {
  text-decoration-color: inherit;
}

body {
  /* https://tailwindcss.com/docs/customizing-colors#default-color-palette */
  --neutral-50: #fafafa;
  --neutral-200: #e5e5e5;
  --neutral-400: #a3a3a3;
  --neutral-700: #3f3f46;
  --neutral-800: #262626;
  --neutral-900: #18181b;
  --neutral-950: #0a0a0a;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --amber-400: #fbbf24;

  --site-margin: 2rem;

  font-family: 'Noto Serif', 'Droid Serif', Georgia, serif;

  color: var(--primary-text);
  background-color: var(--bg-color);

  margin: 0;

  display: grid;
  grid-template-columns: auto max(70vw, 576px) auto;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

body > header {
  grid-area: header;
  text-align: center;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: footer;
  text-align: center;
  border-top: solid thin var(--primary-text);
}

.social > img {
  width: 2rem;
}

.under-construction-outer {
  display: flex;
  justify-content: center;
  margin: var(--site-margin);
}

.under-construction {
  background-image: repeating-linear-gradient(
    -45deg,
    var(--neutral-950) 0,
    var(--neutral-950) 10px,
    var(--amber-400) 10px,
    var(--amber-400) 20px
  );
  background-size: 28px 28px;
  padding: 1rem;
  color: var(--neutral-950);
  text-align: center;
  display: inline-block;

  animation-duration: 1s;
  animation-name: scrollhatching;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scrollhatching {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: 28px;
  }
}

.under-construction-inner {
  font-family: sans-serif;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--amber-400);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/** Colours **/

/** Light **/
body {
  --primary-text: var(--neutral-950);
  --bg-color: var(--neutral-50);
  --bg-secondary: var(--neutral-200);
  --color-neutral: var(--neutral-700);
  --link: var(--blue-600);
  --link-visited: var(--purple-600);
}

/** Dark **/
@media (prefers-color-scheme: dark) {
  body {
    --primary-text: var(--neutral-50);
    --bg-color: var(--neutral-950);
    --bg-secondary: var(--neutral-800);
    --color-neutral: var(--neutral-400);
    --link: var(--blue-500);
    --link-visited: var(--purple-500);
  }
}

/** Article Styling **/

main > article {
  margin: var(--site-margin);
  font-size: 1.2rem;
}

article > h1 {
  line-height: 2rem;
}
article > p {
  line-height: 1.5rem;
}

.publishing-dates {
  display: flex;
  color: var(--color-neutral);
}
@media (max-width: 1280px) {
  .publishing-dates {
    flex-direction: column;
  }
}

.publishing-dates small:not(:only-child) {
  margin-right: var(--site-margin);
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5,
article > h6 {
  margin-top: 2rem;
}

article > h1,
article > p {
  margin-bottom: 1.5rem;
}
article > p {
  margin-top: 1.5rem;
}

article > ul > li:not(:last-child),
article > ol > li:not(:last-child) {
  padding-bottom: .25rem;
}

article > pre {
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

article code {
  font-family: 'Noto Mono', monospace;
}

article > p > code {
  font-size: .95rem;
  background-color: var(--bg-secondary);
  padding: .2rem .3rem;
  border-radius: 0.2rem;
}

article.snippet {
  display: block;
}
article.snippet:not(:last-child) {
  padding-bottom: var(--site-margin);
  border-bottom: dotted thin var(--primary-text);
}

article picture > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 576px) {
  body {
    grid-template-columns: 0 100% 0;
    --site-margin: 1rem;
  }
  .under-construction-inner {
    font-size: 1.5rem;
  }
}
